/* Table */
.css-rqglhn-MuiTable-root {
    display: unset !important;
}

/* Table title */
.css-gi7hi0-MuiTypography-root {
    text-align: center;
}


/* thead */
.css-15wwp11-MuiTableHead-root {
    font-size: 18px; 
    font-weight: bold;
}