body {
    box-sizing: border-box;
    margin: 0;
}

.App {
    height: 100vh;
    background-color: #4cabff;
    color: ivory;
}



#buttons {
    width: 25%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rems;
}

#invalid-creds {
    color: #fff;
    background-color: #8b000078;
    padding: 12px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
}