form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    gap: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* 
#filled-basic {
    color: ivory !important;
} */


.MuiTextField-root, .MuiInputBase-root {
    /* width: 70% !important; */
    margin: auto !important;
    color: ivory !important;
}

#login:hover {
    border: 1px solid ivory;
    transition: 300ms ease-in-out;
    background-color: none;
    font-weight: bold;
}