form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.MuiTextField-root, .MuiInputBase-root {
    /* width: 70% !important; */
    margin: auto !important;
}



.button {
}